@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --animate-shimmer: shimmer 2s infinite;
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

html, body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

body {
  background-position: center;
  background-size: cover;
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.leaflet-container {
  background-color: #000 !important;
}
